# Dependency directories
node_modules/
jspm_packages/
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output of 'npm pack'
*.tgz

# Environment files
.env
.env-development
.env-production

# Editor and IDE files
.vscode
.vscode-test
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
*~

# Build directories
build/
dist/
coverage/

.git/
.env